<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cats</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <div id="input-field">
        Name:
        <input type="text" placeholder="name" v-model="nameInput" /> Color:
        <input type="text" placeholder="color" v-model="colorInput" /> Age:
        <input type="number" placeholder="age" v-model="ageInput" />
        <button @click="addKitten()">Add Cat</button>
      </div>
      <div id="list-area">
        <div v-for="(kitten,index) in kittens">
          <p>Name: {{kitten.name}}</p>
          <p>Color: {{kitten.color}}</p>
          <p>Age: {{kitten.age}}</p>
          <button @click="deleteKitten(kitten)">Delete</button>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
